body{
    font-family: Arial, sans-serif;
    background: #7860ee;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.information{
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255,255, 0.5);
    padding: 15px;
    border-radius: 15px;
    margin: 20px;
    font-size: 18px;
    display: flex;
}
/* 
.link {
    display: flex;
    justify-self: end;
} */